

<%- include('../partials/_header') %>
  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <%- include('../partials/_menu') %>
      <!-- end header section -->

      <!-- slider section -->
      <div class="slider_section">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 offset-lg-1">
                    <div class="detail-box">
                      <div class="heading_box">
                        <h2>  1996 - 2001 </h2>
                        <h2>Çukurova Üniversitesi</h2>
                        <h2>Mühendislik Fakültesi</h2>
                        <h2>Endüstri Mühendisliği</h2>
                        
                      </div>
                      <div>
                        <a href="">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 px-0">
                    <div class="img-box">
                      <img src="images/cu-logo-1-768x766.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 offset-lg-1">
                    <div class="detail-box">
                      <div class="heading_box">
                        <h2>Ç.Ü.</h2>
                        <h1></h1>
                      </div>
                      <div>
                        <a href="">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 px-0">
                    <div class="img-box">
                      <img src="images/cu-logo-1.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 offset-lg-1">
                    <div class="detail-box">
                      <div class="heading_box">
                        <h2>i Am Willism My <span>Creative</span></h2>
                        <h1>
                          Portfolio
                        </h1>
                      </div>
                      <div>
                        <a href="">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 px-0">
                    <div class="img-box">
                      <img src="images/-logo-1-.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider_btn-container">
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- end slider section -->
    </div>
    <!-- end hero area -->

    <!-- design section -->

    <section class="design_section layout_padding-top">
      <div class="container">
        <div class="heading_container">
          <h2>
            UI/UX Design
          </h2>
        </div>
        <div class="design_container layout_padding2">
          <div class="box b-1">
            <h5>
              User <br />
              Experience
            </h5>
          </div>
          <div class="box b-2">
            <h5>
              Interface <br />
              Design
            </h5>
          </div>
          <div class="box b-3">
            <h5>
              Mobile Apps
            </h5>
          </div>
        </div>
      </div>
    </section>

    <!-- end design section   -->
    <div>
      <hr class="section_hr" />
    </div>
    

   

    <!-- expand section -->

    <section class="expand_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/expand-img.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h2>
                Expand your horizons, explore ours. It's all here. It's only
                here.
              </h2>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using LoremIt is a long established fact that a
                reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end expand section -->
    <div>
      <hr class="section_hr" />
    </div>
    <!-- blog section -->
    <section class="blog_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container">
          <h2>
            See Our Blog
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="images/b-1.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h4>
                  Readable content of a page
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="images/b-2.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h4>
                  Readable content of a page
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="images/b-3.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h4>
                  Readable content of a page
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end blog section -->

 

    <!-- info section -->
    <section class="info_section layout_padding-top layout_padding2-bottom">
      <div class="container">
        <div class="social_container">
          <h2>
            Follow Us
          </h2>
          <div class="social_box">
            <a href="">
              <img src="images/fb.png" alt="" />
            </a>
            <a href="">
              <img src="images/twitter.png" alt="" />
            </a>
            <a href="">
              <img src="images/linkedin.png" alt="" />
            </a>
            <a href="">
              <img src="images/youtube.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

    <!-- footer section -->
    <%- include('../partials/_footer') %>