<%- include('../partials/_header') %>
<body>
  <div class="hero_area">
    <!-- header section strats -->
    <%- include('../partials/_menu') %>
    <!-- end header section -->

  </div>
  <!-- end hero area -->

  <!-- project section -->

  <section class="project_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Projects
        </h2>
      </div>
      <div class="project_container layout_padding2-top">
        <div class="box">
          <img src="images/p-1.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-2.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-3.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-4.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-5.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-6.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-7.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-8.jpg" alt="" />
        </div>
        <div class="box">
          <img src="images/p-9.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <!-- end project section -->

  <!-- info section -->
  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="social_container">
        <h2>
          Follow Us
        </h2>
        <div class="social_box">
          <a href="">
            <img src="images/fb.png" alt="" />
          </a>
          <a href="">
            <img src="images/twitter.png" alt="" />
          </a>
          <a href="">
            <img src="images/linkedin.png" alt="" />
          </a>
          <a href="">
            <img src="images/youtube.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/_footer') %>